@import "tailwindcss";
@import "@fontsource/montserrat/300.css"; 
@import "@fontsource/montserrat/400.css"; 
@import "@fontsource/montserrat/500.css"; 
@import "@fontsource/montserrat/600.css"; 
@import "@fontsource/montserrat/700.css";

:root {
  --background: #FFFFFF;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #FFFFFF;
  }
}
@keyframes swivel {
  0% {
    transform: translateX(-50%) rotate(-30deg); /* center & start angled */
  }
  50% {
    transform: translateX(-50%) rotate(30deg);  /* swivel the other way */
  }
  100% {
    transform: translateX(-50%) rotate(-30deg); /* back to start */
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

.animate-swivel {
  animation: swivel 4s ease-in-out forward;
}




html,
body {
  height: 100%;
  
  overscroll-behavior: contain;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
