@import "tailwindcss";
@import "@fontsource/montserrat/300.css"; 
@import "@fontsource/montserrat/400.css"; 
@import "@fontsource/montserrat/500.css"; 
@import "@fontsource/montserrat/600.css"; 
@import "@fontsource/montserrat/700.css";

:root {
  --background: #FFFFFF;
  --foreground: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFFFFF;
    --foreground: #FFFFFF;
  }
}
@keyframes swivel {
  0% {
    transform: translateX(-50%) rotateY(-30deg);
  }
  50% {
    transform: translateX(-50%) rotateY(30deg);
  }
  100% {
    transform: translateX(-50%) rotateY(-30deg);
  }
}

.animate-swivel {
  animation: swivel 2s ease-in-out infinite;
  transform-style: preserve-3d;
}



html,
body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: contain;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
